<div class="nav-item dropdown">
  <a href="#" class="nav-link d-flex lh-1 p-0 px-2" data-turbo="false" data-bs-toggle="dropdown" aria-label="Open user menu">
    <span class="avatar avatar-sm" style="background-image: url(./static/avatars/000m.jpg)"> </span>
    <div class="d-none d-xl-block ps-2">
      <div>{{ request.state.user.username }}</div>
      <div class="mt-1 small text-secondary">Hui z Bugra</div>
    </div>
  </a>
  <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
    <a href="{{ request.url_for('profile') }}" class="dropdown-item">Profile</a>
    <div class="dropdown-divider"></div>
    <a data-controller="hello" href="#" class="dropdown-item" data-action="click->hello#greet">Settings</a>
    <a href="{{ request.url_for('signout') }}" class="dropdown-item" data-turbo-method="post">Logout</a>
  </div>
</div>