<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page_title }}</title>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@latest/dist/turbo.es2017-esm.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@hotwired/stimulus"></script>
  <script type="module" src="{{ request.url_for('static', path='js/' ~ js_file) }}"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.3.2/dist/css/tabler.min.css" />
  <link rel="shortcut icon" href="{{ request.url_for('static', path='favicon.ico') }}" type="image/x-icon">
</head>
<body>
  {% block body %}
  <p>This is base layout page</p>
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.3.2/dist/js/tabler.min.js"></script>
</body>
</html>